/__pycache__/fnc_alterar_senha.cpython-311.pyc
/__pycache__/fnc_atrelar_perfil.cpython-311.pyc
/__pycache__/fnc_atualizar_cadastro.cpython-311.pyc
/__pycache__/fnc_cadastro_novo_comunicado.cpython-311.pyc
/__pycache__/fnc_cadastro.cpython-311.pyc
/__pycache__/fnc_listar_comunicados.cpython-311.pyc
/__pycache__/fnc_listar_novos_usuarios.cpython-311.pyc
/__pycache__/fnc_listar_perfis.cpython-311.pyc
/__pycache__/fnc_login.cpython-311.pyc
